{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Report
{% endblock %}


{% block content %}


<br>What's the background color of the <b>first</b> card?</br>

{% formfield  player.report_first %}

<br>What's the center shape of the <b>first</b> card?</br>

{% formfield  player.report_second %}

<br>What's the center letter of the <b>first</b> card?</br>

{% formfield  player.report_third %}

<br>What's the number of the <b>first</b> card?</br>

{% formfield  player.report_fourth %}

<br>What's the mathematical symbol of the <b>first</b> card?</br>

{% formfield  player.report_fifth %}

<br>What's the background color of the <b>second</b> card?</br>

{% formfield  player.report_sixth %}

<br>What's the center shape of the <b>second</b> card?</br>

{% formfield  player.report_seventh %}

<br>What's the center letter of the <b>second</b> card?</br>

{% formfield  player.report_eighth %}

<br>What's the number of the <b>second</b> card?</br>

{% formfield  player.report_ninth %}

<br> What's the mathematical symbol of the <b>second</b> card?</br>

{% formfield  player.report_tenth %}

<br>What's the background color of the <b>third</b> card?</br>

{% formfield  player.report_eleventh %}

<br>What's the center shape of the <b>third</b> card?</br>

{% formfield  player.report_twelfth %}

<br>What's the center letter of the <b>third</b> card?</br>

{% formfield  player.report_thirteenth %}

<br>What's the number of the <b>third</b> card?</br>

{% formfield  player.report_fourteenth %}

<br>What's the mathematical symbol of the <b>third</b> card?</br>

{% formfield  player.report_fifteenth %}

<br>What's the background color of the <b>fourth</b> card?</br>

{% formfield  player.report_sixteenth %}

<br>What's the center shape of the <b>fourth</b> card?</br>

{% formfield  player.report_seventeenth %}

<br>What's the center letter of the <b>fourth</b> card?</br>

{% formfield  player.report_eighteenth %}

<br>What's the number of the <b>fourth</b> card?</br>

{% formfield  player.report_nineteenth %}

<br>What's the mathematical symbol of the <b>fourth</b> card?</br>

{% formfield  player.report_twentieth %}


<br><br>
    {% next_button %}
{% endblock %}


